{:deps {org.clojure/clojure {:mvn/version "1.10.2"}
        techascent/tech.ml.dataset {:mvn/version "5.05"}
        scicloj/metamorph {:mvn/version "0.1.0-alpha2"}
        pppmap/pppmap              {:mvn/version "0.2.1"}
        }
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {
        techascent/tech.ml.smile {:mvn/version "5.02-SNAPSHOT"}
scicloj/tablecloth {:mvn/version "5.05"}
                }
   }
  :runner {:extra-deps {com.cognitect/test-runner
                        {:git/url "https://github.com/cognitect-labs/test-runner"
                         :sha "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
           :main-opts ["-m" "cognitect.test-runner"
                       "-d" "test"
                       ]}

  }
 }
