{:deps {org.clojure/clojure {:mvn/version "1.10.2"}
        techascent/tech.ml.dataset {:mvn/version "5.00-beta-30-SNAPSHOT"}

        }
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {
                scicloj/metamorph {:mvn/version "0.1.0-alpha1"}
                scicloj/tablecloth {:mvn/version "5.00-beta-29-pipeline"}
                techascent/tech.ml {:mvn/version "5.00-beta-15-SNAPSHOT"}
                }
   }
  :runner {:extra-deps {com.cognitect/test-runner
                        {:git/url "https://github.com/cognitect-labs/test-runner"
                         :sha "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
           :main-opts ["-m" "cognitect.test-runner"
                       "-d" "test"
                       ]}

  }
 }
