{:deps {org.clojure/clojure         {:mvn/version "1.11.2"}
        scicloj/metamorph           {:mvn/version "0.2.4"}
        pppmap/pppmap               {:mvn/version "1.0.0"}
        scicloj/tablecloth          {:mvn/version "7.021"}
        metosin/malli               {:mvn/version "0.14.0"}
        aerial.hanami/aerial.hanami {:mvn/version "0.19.0"}}

 :paths ["src" "resources"]

        
 :aliases
 {

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}
                 io.github.seancorfield/build-clj {:git/tag "v0.9.2" :git/sha "9c9f078"} }
          :ns-default build}


  :dev
  {:extra-deps {io.github.nextjournal/clerk {:mvn/version "0.15.957"}
                scicloj/scicloj.ml.smile {:mvn/version "7.2"}
                datacraft-sciences/confuse {:mvn/version "0.1.1"}
                ch.qos.logback/logback-classic {:mvn/version "1.5.3"}
                com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.3.0"}}}

  :test
  {:jvm-opts ["-Djdk.attach.allowAttachSelf"]
   :extra-paths ["test"]
   :extra-deps {
                lambdaisland/kaocha {:mvn/version "1.87.1366"}
                scicloj/scicloj.ml.smile {:mvn/version "7.2"}
                datacraft-sciences/confuse {:mvn/version "0.1.1"}
                ch.qos.logback/logback-classic {:mvn/version "1.5.3"}}}



  :runner {:main-opts ["-m" "kaocha.runner"]}
  :codox {:extra-deps {codox/codox {:mvn/version "0.10.8" :exclusions [org.ow2.asm/asm-all]}
                       codox-theme-rdash/codox-theme-rdash {:mvn/version "0.1.2"}}
          :exec-fn codox.main/generate-docs
          :exec-args {:language :clojure
                      :metadata {:doc/format :markdown}
                      :themes [:rdash]
                      :output-path "docs"}}}}
