{:.class "Predicted class.",
 :.cluster "Cluster assignment.",
 :.cochran.qe.loo
 "Leave-one-out residual heterogeneity test statistics.",
 :.col.prop "Column proportion (2 dimensional table only).",
 :.conf.high "Upper bound on confidence interval for fitted values.",
 :.conf.low "Lower bound on confidence interval for fitted values.",
 :.cooksd "Cooks distance.",
 :.cov.ratio "The covariance ratio.",
 :.cred.high "Upper bound on credible interval for fitted values.",
 :.cred.low "Lower bound on credible interval for fitted values.",
 :.dffits
 "Estimated change in standard deviations for the predicted effect after excluding the study",
 :.expected "Expected count under the null hypothesis.",
 :.fitted "Fitted or predicted value.",
 :.fitted-j-0
 "Population-level fitted values for the j-th longitudinal process.",
 :.fitted-j-1
 "Individual-level fitted values for the j-th longitudinal process.",
 :.hat "Diagonal of the hat matrix.",
 :.lower "Lower bound on interval for fitted values.",
 :.moderator
 "In meta-analysis, the moderators used to calculate the predicted values.",
 :.moderator.level
 "In meta-analysis, the level of the moderators used to calculate the predicted values.",
 :.observed "Observed count.",
 :.probability "Class probability of modal class.",
 :.prop "Proportion of the total.",
 :.remainder
 "The remainder, or random, component of the decomposition.",
 :.resid "The difference between observed and fitted values.",
 :.resid-j-0
 "Population-level residuals for the j-th longitudinal process.",
 :.resid-j-1
 "Individual-level residuals for the j-th longitudinal process.",
 :.row.prop "Row proportion (2 dimensions table only).",
 :.rownames "Rownames from the original data, if present.",
 :.se.fit "Standard errors of fitted values.",
 :.seasadj "The seasonally adjusted (or *deseasonalised*) series.",
 :.seasonal "The seasonal component of the decomposition.",
 :.sigma
 "Estimated residual standard deviation when corresponding observation is dropped from model.",
 :.std.resid "Standardised residuals.",
 :.tau "Quantile.",
 :.tau.squared.loo "leave-one-out tau-squared estimates",
 :.trend "The trend component of the decomposition.",
 :.uncertainty
 "The uncertainty associated with the classification. Equal to one minus the model class probability.",
 :.upper "Upper bound on interval for fitted values.",
 :.weight "The final robust weights."}
